
// colors
$bg: #011627;
$text-light: #919AA2;
$bg-light: #05243e;
$white: #fff;
$crimson: #dc3545;
$box-clr: #0E2232;

// font weight
$normal: 400;
$medium: 600;

// media size 
$tablet: 960px;
$mobile: 464px;

// margins
$mg-y: 1rem 0;
$mg-x: 0 1rem;

// padding
$pd-y: 1rem 0;
$pd-x: 0 1rem;











