// importing variable module
@use "../helpers/variables" as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background: var.$bg;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.width {
  max-width: 1140px;
  margin: auto;
}

// animation class for drop down menu
.animation {
  @for $num from 0 to 5 {
    .link-#{$num} {
      animation: drop 300ms ($num * 60ms) ease-in-out forwards;
    }
  }

  display: initial !important;
}
