// importing mixin module
@use "../helpers/mixins" as mixin;

// header media query
.header .nav .nav__links {
    @include mixin.tablet {
        display: none;
    }
}

.header .nav .nav__bars {
    @include mixin.tablet {
        display: block;
    }
}

// home media query
.home {
    @include mixin.tablet {
        flex-direction: column;
    }
}