// importing mixin module
@use "../helpers/mixins" as mixin;
@use "../helpers/functions" as fun;

// header media query
.header {
  @include mixin.tablet {
    .nav {
      .nav__links {
        display: none;
      }
      .nav__bars {
        display: block;
      }
    }
  }
}

// home media query
.home {
  @include mixin.tablet {
    flex-direction: column;

    &__text{
        :first-child {
            font-size: fun.convertor(16);
        }

        h1 {
            font-size: fun.convertor(40);
        }

        .wave div {
            font-size: fun.convertor(18);
        }

        p {
           font-size: fun.convertor(15);
        }
    }
  }
}

// about container 

// service container
.services .box {
  margin: 3rem 0;
}