// importing mixin module
@use "../helpers/mixins" as mixin;
@use "../helpers/functions" as fun;

// header media query
.header {
  @include mixin.tablet {
    .nav {
      .nav__links {
        display: none;
      }
      .nav__bars {
        display: block;
      }
    }
  }
}

// home media query
.home {
  @include mixin.tablet {
    flex-direction: column;

    &__text {
      :first-child {
        font-size: fun.convertor(16);
      }

      h1 {
        font-size: fun.convertor(40);
      }

      .wave div {
        font-size: fun.convertor(18);
      }

      p {
        font-size: fun.convertor(15);
      }
    }
  }
}

// about container

// service container
.services .box {
  @include mixin.tablet {
    margin: 3rem 0;
  }
}

// portfolio container
.portfolio .boxes {
  @include mixin.tablet {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(4, fun.convertor(300)) !important;
  }
}

// footer 
.footer {
  @include mixin.tablet {
    align-items: center;
    flex-direction: column;
  }

  .social, .copy {
    margin-bottom: 1rem;
  }
}