@use "../helpers/variables" as var;
@use "../helpers/functions" as fun;

// poppins font
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// open sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  font-size: 100%;
  font-family: "Poppins", sans-serif;
}

body,
a {
  color: var.$white;
}

// header section
.header {
  .nav {
    &__name h1{
      font-size: fun.convertor(28);
      letter-spacing: 1px;
    }

    &__links {
      font-family: "Open Sans", sans-serif;
      font-size: 1.1rem;

      a {
        color: var.$text-light;
      }
    }
  }

  .drop__links {
    font-weight: var.$medium;
    letter-spacing: 1px;
  }
}

// home section
.home__text {
  > * {
    margin-bottom: 1rem;
  }

  :first-child {
    font-size: fun.convertor(20);
  }

  h1 {
    font-size: fun.convertor(60);
    white-space: no-wrap;
    letter-spacing: 2px;

  }

  .wave div {
    font-size: fun.convertor(28.8);
  }

  p {
    font-size: fun.convertor(17);
    color: var.$text-light;
    margin-bottom: 2rem;
  }

  a {
    font-weight: var.$medium;
    text-transform: capitalize;
    font-size: large;
  }
}

// about section
.description {
  margin-top: 1rem;

  .sub-headline {
    border-left: 2px solid var.$crimson;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: var.$medium;
    margin: var.$mg-y;
    letter-spacing: 1px;
    }   
  
  ul, p {
    margin-left: 2rem;
  }

  .short-description {
    line-height: 1.5rem;
    color: var.$text-light;

    .light-color {
      color: darken($color: var.$white, $amount: 20);
    }

    .under-line {
      border-bottom: 1px solid darken(var.$white, 70);
    }
  }
}