@use './contact_cta.scss' as btn;

@mixin nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;

    .links {
        text-decoration: none;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 100px));
        margin-left: 10px;

        li {
            cursor: pointer;
            font-size: 1rem;
            text-align: center;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.navbar {
    @include nav;
    background-color: #EFEFEF;
}

.contact {
    display: grid;
    justify-content: end;

    .contact_cta {
        @include btn.button-base;
    }
}