@use '../variables/colors.scss' as clr;
@use '../mixins/media.scss' as mix;


.home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-top: 30px;

    @include mix.responsive(medium) {
        grid-template-columns: 1fr;
        padding-top: 0px;
    }

    >* {
        margin: 0;
    }

    .column__1 {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mix.responsive(medium) {
            flex-direction: row;
            padding-left: 0rem;
        }

        .content {
            display: grid;
            grid-template-columns: 200px 200px;

            h2 {
                font-size: 3rem;
                font-weight: 400;
                text-align: center;
            }

            p {
                font-size: .9rem;
                color: clr.$secondary;
                text-align: right;
            }
        }

        .name {
            width: 80%;
            margin: 0 auto;
            margin-top: 2rem;
            text-align: left;

            h3 {
                font-size: 10rem;
                font-weight: 100;
                letter-spacing: -6;
                font-family: var(--font-poppins), sans-serif;
            }

            p {
                font-size: 1.4rem;
                margin-top: -3rem;
                color: clr.$primary;
                margin-left: .6rem;
            }
        }
    }

    .column__2 {
        .hero {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include mix.responsive(medium) {
            display: none;
        }
    }
}